<h1>Posts</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th>
      Overtime Date
    </th>
    <th>
      Overtime Hrs
    </th>
    <th>
      Employee
    </th>
    <th>
      Rationale
    </th>
    <th>
      Status
    </th>
    <th>
    </th>
    <th>
    </th>
  </tr>
  </thead>
  <tbody>
  <%= render @posts %>
  </tbody>
</table>